/* src/layouts/LayoutWrapper.css */

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100% !important;
}

.content-area {
    flex: 1;
    margin: 0 auto;
    margin-top: 145px;
    width: 100% !important;
}

@media (max-width: 992px) {
    .content-area {
        margin:0 auto;
        margin-top: -15px;
    }
}

/* Optional global scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}